@import "tailwindcss";

:root {
  --color-primary: #f5f5f7;
  --color-secondary: #1f2937;
  --color-accent: #F77800;
  --color-card: #ffffff;
  --color-muted: #6b7280;
  --color-light: #9ca3af;

  --font-sans: "Inter", "Helvetica", "Arial", sans-serif;
}

.dark {
  --color-primary: #1f2937;
  --color-secondary: #f5f5f7;
  --color-accent: #F77800;
  --color-card: #374151;
  --color-muted: #9ca3af;
  --color-light: #d1d5db;
}

@theme {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-card: var(--color-card);
  --color-muted: var(--color-muted);
  --color-light: var(--color-light);

  --font-sans: var(--font-sans);
}